@media  screen and (max-width:3048px) {
        .slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .appartment__collapse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .appartment__content{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    .appartment__content__comment{
        display:flex;
        flex-direction:column;
    }
    .appartment__content__comment__rate{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
        margin:0 20px;    
    }
    .appartment__content__comment__person{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }
    .appartment__content__comment__img img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right:10px;    
        right:0;
    }
    .appartment__content__comment__name{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin:0 20px;    
    }
    .appartment__content__comment__name span{
        color: #FF6060;
    text-align: right;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    }
    .appartment__content__details{
        display:flex;
        flex-direction:column;
        justify-content:center;   
    }
    .appartment__content__details h1{
        display:block;   
        color:#ff6060;
        font-family: 'Montserrat';
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 51.336px */
        width: 635px;
        height: 61%;
        top: 573px;
        left: 100px;  
    }
    .appartment__content__details p{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #FF6060;
        width: 176px;
        height: 26px;
        top: 624px;
        left: 100px;
        padding-bottom: 10%;
    }
    .appartment__localisation{
        display:flex;
        flex-direction:row;
        margin-top:10px;
        font-size: 14px;
    }
    .appartment__localisation .tag{
        display:flex;
        flex-direction:row;
        justify-content:center;    
        background-color:#ff6060;
        border-radius: 10px;
        margin-right:10px;
        padding:10px;
        min-width:115px;
        width: auto;
        height: 25px;
        top: 670px;
        left: 350px;
        align-items: center;
    }
    .equipment-item{
        color: #ff6060;
        font-size:18px;
    }
    .rate_count{
        width: 196px;
        height: 36px;
        top: 652px;
        left: 1144px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
}
@media screen and (max-width: 1080px) {
    .appartment__container{
        padding:0 10px;
    }
    .appartment__content__comment__rate{
        margin:0;
    }
    .appartment__content{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        
    }
    .appartment__content__details {
        width:71%;
        height:120px;
    }
    .appartment__content__comment{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .appartment__content__comment__person{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center;
    }
    .appartment__localisation{
        margin-top:30px;
    }
    .slide img{
        width: 100%;
        height: 420px;
        object-fit: cover;
        border-radius: 10px;
    }
}
@media screen and (max-width: 580px) {
    .appartment__content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .appartment__content__details{
        
        color: #FF6060;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 25.668px */
        width:100%;
        height:80px;
        margin-top:15px;
        
    }
    .appartment__content__details h1{
        width:100%;
        font-size: 18px;        
        height:20;
    }
    .appartment__content__comment{
        width:100%;
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        margin-top:15px;
    }
    
    .appartment__content__comment__img img{
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin:0 0 0 10px;        
    }
    .appartment__content__comment__person{
        margin-left:13px;
    }
    .appartment__content__comment__name, .appartment__content__comment__rate{
        margin:0;
    }
    .appartment__localisation{
        margin-top:0px;
    }
    .appartment__localisation .tag{
        min-width:85px;
    }
    .appartment__collapse{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-top:10px;
    }
    .equipment-item{
        font-size:14px;
    }
    .slider{
        margin:0px auto;    }
    .slider,.slide img {
        height:255px;
    }
    .rate_count{
        height:20px;
        justify-content:flex-start;
        gap:5px;
    }
    .appartment__content__comment__name span{
        font-size: 12px;
    }
    .appartment__content__details p{
        font-size: 12px;
    }
}