@media  screen and (max-width:3048px) {
    .header {
    display: flex;  
    
    justify-content: space-between;
    align-items: center;   
    width:99%;
    }
    .header img{
        height: 68px;
        
    }
}

@media screen and (max-width:1080px) {
    .header{
        padding:0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:94%;
    }
    .header img {
        height:40px;
    }
}
@media screen and (max-width:576px) {
    .header{
        width:75%;
        padding: 0 10px;
    }
}