/* styles/nav.css */
.nav {
    display: flex;
    justify-content: flex-end;
    height: 34px;
    flex-shrink: 0;
}
.nav__link_about{
    margin-left: 20px;
}
.nav a {
    color: #FF6060;
    text-align: right;
    font-family: 'Montserrat';
    font-size: clamp(12px, 2.5vw, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: 34.22px;
    text-decoration: none;
}

.nav a.underline-on-click {
    text-decoration: none;
}

.nav a.underline-on-click.active {
    text-decoration: underline;
}
